
html{
    width: 100%;
    height: 300%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    background-color: #dbc8a0;
    margin: auto;
    overflow-x: hidden;
    overflow-y: auto; /* should be disabled ?*/
}

.container {
    overflow-x: hidden;
    overflow-y: auto;
}
 
.input {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 32px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container::-webkit-scrollbar {
    width: 0.35rem;
}

.container::-webkit-scrollbar-track {
    background: var(--bg-secondary);
}

.container::-webkit-scrollbar-thumb {
    background: black;
}

.logs-body {
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
}

.logs-header {
    text-align: center;
}

.logs-day {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #ffcc9c73;
    transition: height 0.2s ease;
    width: 80%;
    border: 1px solid #1e163e;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

.logs-day-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #1e163e;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.logs-day ul {
    font-size: 1.5rem;
}


#calendar-container {
    margin-top: 10px;
    position: -webkit-sticky;
    position: sticky;
    top:    0;
    width: 100%;
    max-width: 500px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
}

#calendar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c9a0dc;
    color: #fff;
    padding: 10px 20px;
}

#calendar-header h2 {
    margin: 0;
    font-size: 1.5em;
}

#calendar-header button {
    background: none;
    border: none;
    color: #fff;
    font-size: 1.2em;
    cursor: pointer;
    padding: 5px 10px;
}

#calendar-header button:hover {
    background-color: #c096d3;
    border-radius: 50%;
}

#calendar {
    width: 100%;
    border-collapse: collapse;
}

#calendar th, #calendar td {
    width: 14.28%;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
}

#calendar th {
    background-color: #f2f2f2;
    color: #666;
    font-size: 0.9em;
}

#calendar td {
    cursor: pointer;
    transition: background-color 0.3s;
}

#calendar td:hover {
    background-color: #f1f1f1;
}

#calendar td.active {
    background-color: #4caf50;
    color: #fff;
}

#calendar td.inactive {
    color: #ccc;
}
.caption-top {
    caption-side: top; 
}


@media only screen and (max-width: 800px) {

    body{
        flex-direction: column;
    }

    .container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        height: 35%;
        width: 100vw;
    }

    .logs-body{
        flex-direction: row; 
        align-items: flex-start; 
        justify-content: flex-start;
        height: 100%;
        width: 100%;
    }

    .logs-day{
        width: 100%;
        height: auto;
        padding-top: 5px;
    }

    .logs-day h2{
        margin-top: 0;
    }

    .logs-day ul, .logs-day h2{
        font-size: 1rem;
        padding-left: 15px;
    }
    
    .logs-header{
        display: none;
    }

    .center-text{
        font-size: 1rem;
    }

    .calendar{
        width: 100%;
        height: 65%;
        padding-bottom: 5px;
    }

    .calendar-table td, .calendar-table th {
        padding: 5px; /* For cellpadding */
    }
}
