html {
  width: 100%;
  height: 100%;
}

body.edit {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #ffbc5c;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow: hidden;

}

body.edit::-webkit-scrollbar {
  width: 0.35rem;
}

body.edit::-webkit-scrollbar-track {
  background: var(--bg-secondary);
}

body.edit::-webkit-scrollbar-thumb {
  background: black;
}



.childeditInputs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mainedit {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 0;
}

form#editPage {
  height: 110%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  padding-top: 10px;
  background-color: white;
  border: 18px solid #1e163e;
  border-style: ridge;
  border-radius: 20px;
  overflow-y: auto;
  overflow-x: hidden;

}

.inputField {
  width: 100%;
  height: 12.5%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.inputField label {
  width: 100%;
  height: 50%;
  font-size: 1.5rem;
}

.inputField input,
select {
  width: 95%;
  height: 50%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  border-color: #1e163e;
  font-size: 1.2rem;
}

.childInputField {
  height: 22%;
}

select[name="relationSelect"] {
  width: 95%;
  height: 50%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  border-color: #1e163e;
}

select[name="relationSelect"]:hover {
  background-color: #ffdebe;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {

  background-color: #FFAC58;
}

.buttonDiv {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 15%;
  font-size: 100%;
}

button#reg {
  width: 70%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;

  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #5c9fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #666;
  font-size: 2rem;
}

button#reg:hover {
  background-color: #4a7fcc;
}

button#reg:active {
  background-color: #4a7fcc;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.save-button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  margin: 0.5rem 0 0.5rem 0;
  gap: 25%;
}

.save-button label {
  width: 45%;
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 80%;
  margin: 0.5rem 0 0.5rem 0;
  gap: 25%;
}

.childsave-button {
  height: 25%;
}


@media only screen and (max-width: 800px) {
  .mainedit{
    padding-bottom: 20px;
  }
  
  form#editPage {
    width: 80%;
  }

  .inputField input,
  select {
    width: 90%;
    font-size: 150%;
  }

  .inputField label {
    font-size: 150%;
  }

  .buttonDiv {
    height: 20%;
    width: 100%;
    justify-content: center;
    align-items: center;

  }

  a#reg {
    width: 40%;
    height: 40%;
    font-size: 250%;
    display: flex;
    justify-content: center;
    margin: 0 15% 0 15%;

  }

  a#reg:active {
    transform: translateY(10%);
  }

  .buttonDiv .alreadyAcc p,
  .buttonDiv .alreadyAcc a {
    width: 50%;
    font-size: 150%;
  }


  .save-button {
    height: 100%;
  }

  .save-button label {
    height: 100%;
  }


}