:root {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;
    --text-primary: #392a74;
    --text-secondary: #1e163e;
    --bg-primary: #8a76db;
    --bg-secondary: #e6a953;
    --bg-third: #1f3555;
    --border-color: #1e163e;
    --navbar-color: #5c9fff;
    --navbar-border-color: #7b5cff;
    --transition-speed: 600ms;
}

body::-webkit-scrollbar {
    width: 0.35rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
    background: black;
}

body.mainPage {
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
}
div#all-children.container
{
  overflow-y: auto;
  overflow-x: hidden;
}
main {
    margin-left: 5rem;
    margin-top: 5rem; 
    margin-bottom: 0;
    /* padding: 1rem; */
    height: calc(95vh - 5rem);
    width: auto;
    border: 18px solid #1e163e;
    border-style: ridge;
}

.navbar {
    width: 5rem;
    height: 100%;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
    background-color: var(--navbar-color);
    transition: width 400ms ease;
    border-right: 3px solid var(--navbar-border-color);
    border-top: 3px solid var(--navbar-border-color);
}

.north-navbar {
    position: fixed;
    height: 5rem;
    top: 0;
    width: 100%;
    background-color: var(--navbar-color);
    border-bottom: 3px solid var(--navbar-border-color);
    display: flex;
    align-items: center;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 91%;
}

.navbar-nav .first {
    margin-bottom: auto;
    /* Pushes the first div to the top */
}

.navbar-nav .last {
    border-top: 3px solid var(--navbar-border-color);
    margin-top: auto;
    /* Pushes the last div to the bottom */
}

.north-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 5rem;
}

.nav-item {
    width: 100%;
    height: 5rem;
}

.north-nav-item {
    height: 100%;
    width: 20%;
}

.nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    transition: transform 0.2s ease-in-out, color var(--transition-speed), background-color var(--transition-speed);
    border-bottom: 5px solid var(--navbar-border-color);
}

/* Ensure icons have a consistent and larger size */
.nav-link svg {
    width: 40px;
    height: 40px;
    min-width: 2rem;
    margin: 0 1.5rem;
}

/* Hover effects */
.logo .nav-link:hover {
    background-color: var(--navbar-color);
    color: var(--text-primary);
}

.logo .nav-link:hover .fa-secondary {
    color: var(--text-primary);
}

.nav-link:hover {
    transform: scale(1.1);
    background-color: var(--bg-third);
    color: var(--bg-primary);
}

.nav-link:hover .fa-secondary {
    color: var(--bg-primary);
}

.profile-nav-link {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-left: 3px solid var(--navbar-border-color);
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    transition: var(--transition-speed);
}

.profile-nav-link:hover {
    background-color: var(--bg-third);
    color: var(--bg-primary);
}

.profile-nav-link:hover .fa-secondary {
    color: var(--bg-primary);
}

.link-text {
    display: none;
    margin-left: 0.3rem;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text {
    display: block;
}

.fa-primary {
    color: var(--text-primary);
}

.fa-secondary {
    color: var(--text-secondary);
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-align: center;
    color: var(--text-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.1ch;
    width: 100%;
}

.logo svg {
    transform: rotate(0deg);
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    transform: rotate(-180deg);
}

.profile-picture {
    width: auto;
    height: 5rem;
    border-radius: 50%;
    margin: 1rem;
    justify-self: center;
}
.navbar-nav li:first-child .nav-link:hover {
    transform: none;
    background-color: var(--navbar-color);
    color: var(--text-primary);
}

@media only screen and (max-width: 800px) {
    .north-navbar {
        top: 0;
        width: 100%;
        height: 10vh;
        position: fixed;
        border-bottom: 2px solid var(--navbar-border-color);
        font-size: 100%;
    }

    .north-navbar {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: flex-start;
    }

    .north-nav {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .north-nav-item {
        width: 50%;
    }

    .navbar {
        bottom: 0;
        width: 100%;
        height: 9vh;
        border-top: 2px solid var(--navbar-border-color);
        margin: 0;
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        padding-bottom: 5px;
    }

    .navbar:hover {
        width: 100%;
    }

    .navbar:hover .link-text {
        display: none;
    }

    .nav-item {
        width: 17%;
    }

    .logo {
        display: none;
    }
    .no-animation {
        transition: none;
    }
    
    /* Remove animation for the first item */
    .no-animation:hover {
        transform: none;
        background-color: var(--navbar-color);
        color: var(--text-primary);
    }

    .navbar-nav {
        flex-direction: row;
        height: 9vh;
    }

    .nav-link {
        justify-content: center;
        height: 10vh;
    }

    .navbar-nav .last {
        border-top: none;
        margin-top: auto;
        /* Pushes the last div to the bottom */
    }

    .profile-nav-link {
        border-left: none;
    }

    .nav-link {
        border-bottom: none;
    }

    .north-nav-item {
        font-size: 80%;
    }

    .profile-picture {
        height: 9vh;
    }

    
    html {
        height: 100vh;
        width: auto;
    }
    html {
        overflow-y: auto;
        overflow-x: hidden;
        height: 100vh;
        width: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        height: 90vh;
        width: 100%;
    }

    main {
        flex-grow: 1;
        margin: 0;
        margin-top: 10vh;
        padding: 0;
        border: none;
    }

    .profile-nav-link {
        height: 10vh;
        margin: 0;
    }
}
