:root{
    --border-color: #aa7d3d;
}
html{
    width: 100%;
    height: 100%;
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body.notifications{
    height: 100%;
    width: 100%;
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.35rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
    background: black;
}

.notifications-list{
    width: 85%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notification{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffe4be;
    border: 12px solid #aa7d3d;
    border-style: ridge;
    margin-bottom: 10px;
    padding: 0 1rem;
}


.notification-text{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: auto;
    color: var(--text-primary);

}



.new-notification-header, .old-notification-header{
    position: relative; 
    border-left: 3px solid var(--border-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
    margin-right: 0;
}

.notification-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-primary);
}
.new-notification-header::after {
   
    content: "";
    position: absolute;
    top: 0;
    right: -1rem;
    bottom: 0;
    left: 0;
    background-color: red;
    opacity: 1;
    animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}


.notification-time{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
    font-size: 1rem;
    color: var(--text-primary);
}

.group{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ffe4be;
    border: 18px solid #aa7d3d;
    border-style: ridge;
    margin-bottom: 10px;
    padding: 0 1rem;
    transition: height 0.2s ease;
}

.group:hover{
    height: 30rem;
}


.first{
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.group-name{
    width: 75%;
    height: 5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 0;
    margin-right: 10px;
}

.fa-secondary{
    color: black;
}

.svg-style{
    width: 25%; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.children{
    display: none;
}

.child-thumbnail {
    height: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    background-color:beige;
    border: 9px solid #e6a953;
    border-style:ridge;
    border-radius: 20px;
    transition: height 0.4s ease;

}

img
{
    height:10em; width:10em;
    display: block;
    margin-left:auto;
    margin-right:auto;
    border-radius: 10px;

}

.nameContainer
{
    font-size: 1.5rem;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.group:hover .children{
    width: 100%;
    height: 20rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 10px;
}