:root {
    --border-color: #1e163e;
}

html {
    width: 100%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body.notifications {
    height: 100%;
    width: 100%;
    background-color: var(--bg-primary);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.35rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-secondary);
}

body::-webkit-scrollbar-thumb {
    background: black;
}

.notif-title {
    margin-left: 7.5%;
    font-size: 3.5rem;
}

.notifications-list {
    width: 85%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notification {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffe4be;
    border: 12px solid #aa7d3d;
    border-style: ridge;
    margin-bottom: 10px;
    padding: 0 1rem;
}

.notifs {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
}

.notification-text {
    display: block;
    justify-content: center;
    align-items: flex-start;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: auto;
    color: var(--text-primary);
}

.new-notification-header,
.old-notification-header {
    position: relative;
    border-left: 3px solid var(--border-color);
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 10px;
    margin-right: 0;
}

.notification-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text-primary);
}

.new-notification-header::after {
    content: "";
    position: absolute;
    top: 0;
    right: -1rem;
    bottom: 0;
    left: 0;
    background-color: red;
    opacity: 1;
    animation: fadeOut 1s ease-out forwards;
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

.notification-time {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 10px;
    font-size: 1rem;
    color: var(--text-primary);
}

.group {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #ffe4be;
    border: 18px solid #aa7d3d;
    border-style: ridge;
    margin-bottom: 10px;
    padding: 0 1rem;
    transition: height 0.2s ease;
}

.group:hover .children {
    display: flex;
    flex-direction: column;
}

.children {
    display: none;
    width: 100%;
}

.child-thumbnail {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    background-color: whitesmoke;
    border: 9px solid #e6a953;
    border-style: ridge;
    border-radius: 20px;
}

.mod-button {
    width: 25%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.mod-button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 3rem;
    padding: 10px;
}

img {
    height: 10em;
    width: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.nameContainer {
    font-size: 1.5rem;
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.groups-title {
    margin-left: 7.5%;
    font-size: 2rem;
    display: flex;
}

.groups-container {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 2rem;
}

@media only screen and (max-width: 800px) {
    .image-preview-img
    {   
        margin-right: 10px;
    }   
    .notif-title {
        margin-left: 0;
        font-size: 2rem;
    }

    .notifications-body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }

    .notifs {
        width: 95%;
        margin-left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .notification {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        box-sizing: border-box;
        padding: 0;
        width: 100%;
    }

    .new-notification-header,
    .old-notification-header {
        border: none;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0;
        padding: 0;
    }

    .new-notification-header::after {
        right: 0;
    }

    .notification-title {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        margin-left: 0;
        padding: 5px;
    }

    .notification-time {
        position: absolute;
        margin: 0;
        bottom: 0;
        right: 0;
        padding-right: 10px;
        padding-bottom: 10px;
        align-self: flex-end;
        justify-self: flex-end;
    }

    .notification-text {
        display: none;
    }

    .notification:hover .notification-text {
        display: block;
        padding-left: 5px;
    }

    .notification:hover .old-notification-header,
    .notification:hover .new-notification-header {
        border-bottom: 3px solid var(--border-color);
    }

    html .groups {
        overflow-y: auto;
        overflow-x: hidden;
    }

    .groups-title {
        margin: 0;
        display: flex;
        justify-content: flex-start;
        align-self: flex-start;
    }

    .groups-title h1 {
        font-size: 2.5rem;
        margin: 0;
        padding-bottom: 5px;
        display: flex;
        align-items: center;
    }

    .first {
        height: 20%;
        margin: 0;
    }

    .groups-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .group-name {
        font-size: 1.6rem;
        width: 80%;
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding-top: 10px;
    }

    .child-name {
        font-size: 1rem;
    }

    .group {
        height: auto;
        width: 100%;
        justify-content: center;
    }

    .group:hover {
        height: auto;
        width: 100%;
        justify-content: flex-start;
    }

    .group:hover .group-name {
        align-items: center;
    }

    .child-thumbnail {
        height: auto;
        width: 85%;
        margin: 5px 0;
    }

    .group:hover .children {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 10px;
        padding-top: 10px;
    }

    img {
        height: 5rem;
        width: 5rem;
    }
}
