:root {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;

    --text-primary: #392a74;
    --text-secondary: #1e163e;
    --bg-primary: #ffbb5c95;
    --bg-secondary: #e6a953;
    --bg-third: #ff7b5c;
    --border-color: #aa7d3d;
}

body {
    background: var(--bg-primary);
    width: 100%;
    font-size: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

input[type="button"] {
    margin-bottom: 20px;
    display: inline-block;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: var(--text-primary);
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-size: 2rem;

}

input[type="button"]:hover {
    background-color: var(--text-secondary);
}

input[type="button"]:active {
    transform: translateY(10%);
}

.profile-picture {
    border-radius: 50%;
    margin: 1rem;
    justify-self: center;
}

@media screen and (max-width: 1000px) {
    input[type="button"] {
        width: 90%;
        font-size: 130%;
        padding: 20px;

    }

    table {
        font-size: 190%;

    }

}