html {
  width: 100%;
  height: 100%;
}

body.register {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #dbc8a0;
  overflow-y: auto;
  overflow-x: hidden;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.childRegisterInputs {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.mainRegister {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

form#registerPage {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 10px;
  background-color: white;
  border: 18px solid #e6a953;
  border-style: ridge;
  border-radius: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

form {
  align-items: center;
}

.inputField {
  width: 100%;
  height: 12.5%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.inputField label {
  width: 100%;
  height: 50%;
  font-size: 1.5rem;
}

.inputField input,
select {
  width: 95%;
  height: 50%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  border-color: #1e163e;
  font-size: 1.2rem;
}

.childInputField {
  height: 50%;
}

select[name="relationSelect"] {
  width: 95%;
  height: 50%;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  border-color: #1e163e;
}

select[name="relationSelect"]:hover {
  background-color: #ffdebe;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

input[type="date"]::-webkit-calendar-picker-indicator:hover {

  background-color: #FFAC58;
}

div#buttons
{
  width: 40rem;
  justify-content: space-between;
  display: flex;
}

#reg {
  width: 30%;
  margin-left: 15%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #5c9fff;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #666;
  font-size: 2rem;
}

#cancel {
  width: 30%;
  margin-right: 15%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: crimson;
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px #666;
  font-size: 2rem;
}

#reg:hover {
  background-color: #6fa9ff;
}
#cancel:hover {
  background-color: rgb(254, 24, 70);
}
#reg:active {
  background-color: #4a7fcc;
  box-shadow: 0 3px #333; /* Slightly reduced shadow for the pressed effect */
  transform: translateY(4px);
}
#cancel:active {
  background-color:rgb(154, 15, 42);
  box-shadow: 0 3px #333; /* Slightly reduced shadow for the pressed effect */
  transform: translateY(4px);
}

.alreadyAcc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  font-size: 150%;
}

.alreadyAcc p {
  width: 60%;
  justify-self: flex-end;
  text-align: center;
}

.alreadyAcc a {
  width: 40%;
  color: #FFAC58;
}

.alreadyAcc a:hover {
  color: #c76809;
}

.child-photo
{
  margin-top: 12rem;
  width: 200px;
}

@media screen and (max-width: 800px) {
  
  .title{
    font-size: 150%;
  }
  
  form#registerPage {
    width: 55%;
    font-size: 0.8rem;
  }

  #reg, #cancel {
    width: 25%;
    margin-left: 0;
    margin-right: 0;
  }

  div#buttons{
    justify-content: center;
    margin: 0.2rem;
  }

  .inputField input,
  select {
    width: 90%;
    font-size: 130%;
  }

  .inputField label {
    font-size: 150%;
  }

  .buttonDiv {
    height: 20%;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .alreadyAcc {
    width: 50%;
    font-size: 150%;
    display: flex;
    flex-direction: column;
    justify-content:  center;
    align-items: center;
    margin: 0 auto;
  }

  .alreadyAcc p {
    margin: 0;
    text-align: left;
  }

  .alreadyAcc a {
    text-align: left;
    margin: 0;
  }

  button#reg:active {
    transform: translateY(10%);
  }

  .buttonDiv .alreadyAcc p,
  .buttonDiv .alreadyAcc a {
    width: 50%;
    font-size: 150%;
  }

  


  .childRegisterInputs{
    height: 55%;
  }

  .childInputField{
    font-size: 110%;
  }

  .childInputField label{
    padding-bottom: 10px;
  }
}
