html {
    width: 100%;
    height: 100%;
  }
  
  body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    height: 100%;
    display: flex;
  
    /*justify-content: left;*/
    align-items: start;
    background-color: #9074DC;
    overflow: auto;
  }
  
  body.edit::-webkit-scrollbar {
    width: 0.35rem;
  }
  
  body.edit::-webkit-scrollbar-track {
    background: var(--bg-secondary);
  }
  
  body.edit::-webkit-scrollbar-thumb {
    background: black;
  }

  img {
    margin: 2px;
  }
  
   .files {
    border: 10px #9074dc; 
  } 
  
  .container {
    width: 140px; 
    height: 90%;
    display: flex;
    flex-direction: column;
    /*justify-content: space-evenly;*/
    align-items: center;
    padding-top: 1px;
    background-color: white;
    border: 10px solid  #443494;
  
    ;
    border-style: ridge;
    border-radius: 20px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .child-thumbnail {
    background-color: #ffcc9c73;
    width: 100px;
    border: 1px solid #80562e;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .child-thumbnail:hover {
    background-color: #cce6ff99;
  }
  
  .child-photo{
    height:60px; 
    width:60px; 
    display: block; 
    margin-left:auto; 
    margin-right:auto;
  }
  
  .image-preview {
    display: inline-block;
    margin: 4px;
  }

  .timelineEvent{
    height: 100%;
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .timelineContainer {
    display: flex;
    flex-direction: row;
    height: 25%;

  }