body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: start;
  background-color: #9074DC;

  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none;  /* Hide the scrollbar for Internet Explorer and Edge */
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  width: 0px;  /* Hide the scrollbar for WebKit browsers */
  height: 0px; /* Hide the horizontal scrollbar for WebKit browsers */
}

img {
  margin: 2px;
}

.files {
  border: 10px #9074dc;
}

.timelineContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* space between timeline events */
}

.timelineEvent {
  flex: 1 1 150px; /* grow and shrink, with a base width of 200px */
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffdeae;
  height: 50%;
}

.timelineEvent img {
  max-width: 100%; /* Increase image size to full width of container */
  height: 300px;
  border-radius: 8px;
}

.img-description {
  margin: 10px 0;
}

.no-events {
  height: 35%;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 2rem;
}

.timelines {
  width: 100%;
  height: 100%;
}

.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

@media only screen and (max-width: 800px) {
  .timelineEvent {
    margin: 0px;
  }

  body {
      justify-content: center;
  }

  .no-events {
      font-size: 1.5rem;
  }
}
