<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Group</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/editStyle.css">
</head>
<body class="edit">
    <div class="mainedit">
        <h1 class="title">Create Your Profile.</h1>

        <form id="editPage" action="../controller/addGroup.php" method="post">
            <div class="inputField">
                <label style="display: flex; align-items: center;" for="groupName">Group name</label>
                <input type="text" id="firstName" name="firstName" required>
            </div>
            <div id="edit_button">
                <button id="reg2" type="submit">Create Group</button>
            </div>

        </form>
    </div>
</body>
</html>